@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar similar to shadcn */
.custom-scroll {
  scrollbar-width: thin; /* برای مرورگرهای فایرفاکس */
  scrollbar-color: #5b5fc7 transparent; /* رنگ اسکرول و پس‌زمینه */
}

.custom-scroll::-webkit-scrollbar {
  width: 1px; /* عرض اسکرول */
  height: 1px; /* ارتفاع اسکرول */
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent; /* پس‌زمینه اسکرول */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #5b5fc7; /* رنگ اسکرول */
  border-radius: 4px; /* گرد کردن گوشه‌های اسکرول */
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #3f47cc; /* تغییر رنگ در هنگام هاور */
}
